<!doctype html>
<html lang="en" ng-app="Thermostat">
<head>
  <title>Thermostat</title>
  <meta charset="utf-8">
  <link rel="icon" type="image/png" href="static/thermostat.png" />
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/d3/3.4.11/d3.min.js"></script>
  <script>
    var info_from_server = {{ info|safe }};
  </script>
  <link rel="stylesheet" href="static/main.css">
</head>
<body>
  {% raw %}
  <div ng-controller="ThermostatCtrl">
    <div ng-show="info.message">
      {{ info.message }}
    </div>
    <div ng-show="!info.id">
      <form action="/" method="get">
        What is your thermostat ID?<br>
        <input type="text" name="id">
        <button type="submit">Go</button>
      </form>
    </div>
    <div ng-show="info.id && !info.claimed">
      <form action="/" method="get">
        Would you like to claim ID "{{ info.id }}"?
        <button>Claim</button>
        <input type="hidden" name="id" value="{{ info.id }}">
        <input type="hidden" name="claim" value="y">
      </form>
    </div>
    <div id="graph" ng-show="info.claimed"></div>
    <br>
    <div ng-show="info.claimed && !info.token">
      <a href="{{ info.login }}">Sign in</a> to set temperature
    </div>
    <div ng-show="info.token">
      Current setting: {{ info.set_temp / 10 }}&deg;
          <button ng-click="changeSetTemp(10)">Up</button>
          <button ng-click="changeSetTemp(-10)">Down</button><br>
      Hold: {{ info.hold ? 'on' : 'off' }}
          <button ng-click="changeSetTemp(0, true)">Toggle</button><br><br>
      Token for sending data: {{ info.token }}<br><br>
      <form action="/update" method="post">
        Schedule ID: <input type="text" name="scheduleId" ng-model="info.scheduleId">
        <input type="hidden" name="id" value="{{ info.id }}">
        <select name="tz" ng-model="info.tz" ng-options="tz.abbr as tz.name + ' time' for tz in info.timezones"></select>
        <button ng-disabled="!info.scheduleId">Update</button>
      </form>
    </div>
  </div>
  <script src="static/main.js"></script>
  {% endraw %}
</body>
</html>
