/*
 * Styles for temperature graph.
 */

body {
  font-family: 'Open Sans', sans-serif;
}

:link {
  color: #0645ad;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.grid .tick {
  stroke: lightgrey;
  opacity: 0.7;
}
.grid path {
  stroke-width: 0;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}
